@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .cards {
    @apply bg-white text-gray-700 w-[410px] min-h-[10rem] shadow-lg rounded-md overflow-hidden
  }
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


body {
  margin: 0;
  padding: 0;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;

}

h3 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-family: 'Figtree', sans-serif;
 
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.Input_Dishes:focus {
  outline: none;

}

.Input_Dishes {
  border-bottom: 2px solid gray;
  width: 60%;

}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  
  button {
    background-color: #f9f9f9;
  }
}